@import url("styles/header.css");

:root{
 --cor-de-fundo: #e9e6e6;
 --branco: #FFFFFF;
 --laranja: #e2b213;
 --amarelo: #fecd2f;
 --roxo-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
 --preto: #000000;

}
body{
    background-color: var(--cor-de-fundo);
}
